@font-face {
    font-family: 'Bauhaus';
    src:url('./BauhausBold.ttf') format('truetype');
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
.home-container {
    background-color: #ebffef;
    padding: 20px;
    flex:1;
  }
  
  .video-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .video-card {
    background-color: #03ac0e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: calc(20% - 20px); /* Maximum of 5 videos per row */
    box-sizing: border-box;
    text-align: center;
  }
  
  .video-thumbnail {
    width: 100%;
    border: 4px solid white;
    border-radius: 5px;
  }
  
  .video-title {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
  }

.text-white{
    color:#03ac0e;
    font-size: 24px;
} 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #03ac0e;
    height: 100px;
  }
  
  .header-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    font-family: 'Bauhaus', sans-serif;
  }
  
  .header-icons {
    display: flex;
    gap: 10px;
    padding: 20px;
  }
  
  .header-icon {
    color: white;
    font-size: 20px;
  }

  .footer {
    background-color: #03ac0e;
    padding: 20px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  